.instruction-container{
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
    background-size: cover; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    padding: 20px 20px 30px 20px;
}
.instruction-heading{
    font-size: 30px; 
    font-weight: bold; 
}
.instruction-img{
    width: 100%;
    height: 40vh;
    margin-bottom: 10px;
    margin-top: 10px;
}
.instruction-list-container{
    list-style-type: none;
}
ul{
    margin-top: 10px;
    margin-bottom: 10px;
}
.instruction-checkbox-label{
    font-size: 14px;
    color: #969090;
}
@media screen and (min-width: 567px) {
    .instruction-checkbox-label{
        font-size: 16px;
    }
}
.instructions-btn-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 18px;
    margin-top: 30px;
}
.instruction-checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    
} 
@media screen and (min-width: 567px) {
    .instruction-checkbox-container{
        gap: 6px;
    }
}
#InstructionCheckbox{
    width: 24px;
    height: 24px;
    cursor: pointer; 
}
.instruction-btn{
    outline: none; 
    border: 1px solid white; 
    width: 120px;
    border-radius: 4px;
    height: 36px;
    font-size: 16px;
    cursor: pointer; 
    background-color: transparent;
    color: white;
} 

/* built-by-kalit bottom title */
.horizontal-rule{
    border: 1px solid #9e9898;
    width: 100%;
    color: white;
    margin: 30px 0px 20px 0px;
    padding: 0px;

}
.built-by-kalit{
    font-weight: bold; 
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color: #9e9898;
    text-shadow: 0px 0px 5px #00000033;
    margin-bottom: 12px;
}
.built-by-kalit:hover{
    transform: scale(1.1);
    color: #c0babb;
    text-shadow: 0px 0px 10px #fa8ca1cc;
}